<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nome</Data></Cell>
        <Cell><Data ss:Type="String">Aniversário</Data></Cell>
        <Cell><Data ss:Type="Number">CPF</Data></Cell>
        <Cell><Data ss:Type="String">E-mail</Data></Cell>
        <Cell><Data ss:Type="String">Telefone</Data></Cell>
        <Cell><Data ss:Type="String">Cidade</Data></Cell>
        <Cell><Data ss:Type="String">Líder</Data></Cell>
        <Cell><Data ss:Type="String">Suíte?</Data></Cell>
        <Cell><Data ss:Type="String">Necessidades Especiais?</Data></Cell>
        <Cell><Data ss:Type="String">Qual?</Data></Cell>
        <Cell><Data ss:Type="String">Data cadastro</Data></Cell>
      </Row>
    <% @form.form_data.each do |form_data| %>
      <Row>
        <Cell><Data ss:Type="String"><%= form_data.data['fullName'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Time.parse(form_data.data['birthday']).strftime("%d/%m/%Y") %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= form_data.data['cpf'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form_data.data['email'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form_data.data['phone'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form_data.data['city'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form_data.data['leader'] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form_data.data['privateRoom'] == true ? 'Sim' : 'Não' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form_data.data['specialNeed'] == true ? 'Sim' : 'Não' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form_data.data['specialNeedDetails'].present? ? form_data.data['specialNeedDetails'] : '' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= form_data.created_at.strftime("%d/%m/%Y %H:%M") %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>